/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font),sans-serif;
  font-size: var(--font-size);
  font-variation-settings: 'wght' var(--font-weight);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.main {
  max-inline-size: 700px;
}

.main {
  display: grid;
  justify-items: center;
}

.header {
  display: flex;
  border: 2px solid #000; 
  width: 100%;
  margin: 99px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-block-size: 368px;
  background-color: #fff;
  font-family: var(--accent-font), fantasy;
  gap: 20px;
}

.header__title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__text {
  font-size: clamp(0.875rem, 0.226rem + 2.77vw, 1.438rem);
  text-transform: uppercase;
}

.card {
  margin: 0 0 50px;
  background-color: #fff;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.card__title {
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: var(--font-size);
  padding: 5px 10px;
  border-top: 1px solid #000;
  border-bottom: 2px solid #000;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  aspect-ratio: 1/1;
}

.contrast__image {
  filter: contrast(50%);
}

.opacity__image {
  filter: opacity(0.8);
}

.saturate__image {
  filter: saturate(300%);
}

.hue-rotate__image {
  filter: hue-rotate(-90deg);
}

.grayscale__image {
  filter: blur(3px) grayscale(100%);
}

.blur__image {
  filter:blur(3px)
}

.sepia__image {
  filter: sepia(1);
}

.brightness__image {
  filter: brightness(200%);
}

.card__group {
  position: relative;
}

.card__watermark {
 position: absolute;
 top: 25px;
 right: 25px;
 z-index: 1;
 font-family: var(--accent-font);
 font-size: 14px;
 color: #000;
 text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff; 
 opacity: 0.5;
 font-family: var(--accent-font), fantasy;
}

.card__group-info {
  display: grid;
  padding: 25px;
  gap: 25px;
  border-top: 2px solid #000;
}

.card__text {
  line-height: 21px;
}

.card__group-button {
  display: flex;
  justify-content: end;
  padding: 0 25px 25px 0;
  border-bottom: 2px solid #000;
}

.card__icon-button {
  display: flex;
  cursor: pointer;
  color: #000;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  background: transparent;
  align-self: center;
  margin: 0;
  box-sizing: border-box;
  height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button svg {
  stroke: #fff;
  mix-blend-mode: difference;
}

.button:hover svg {
  color: #fff;
}

.button {
  display: flex;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #000;
  background: #fff;
  transition: box-shadow 0.3s ease;
  font-family: var(--accent-font), fantasy;
}

.button__text {
  mix-blend-mode: difference;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 90%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}

.button:hover {
  color: #fff;
}

.button::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #000;
  transition: width 0.5s ease-in-out;
}

.button .button__text {
  transition: color 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.save__button {
  display: flex;
  min-height: 55px;
  width: 335px;
  gap: 8px;
  margin-bottom: 100px;
}

.save__dialog[open] {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 2px solid #000;
  max-width: 353px;
  min-width: 341px;
  position: fixed;
}

.save__dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save__window {
  display: grid;
  gap: 30px;
}

.save__dialog__window {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.save__dialog__window svg {
  width: 39px;
  height: 39px;
  inline-size: 80px;
}

.save__dialog__text {
  display: flex;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.save__dialog__button {
  display: flex;
  justify-content: center;
  inline-size: 100%;
  min-block-size: 38px;
  padding: 0;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))) {
      .card__watermark {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--bg-color);
        text-stroke: 1px var(--bg-color);
      }
    }

  @media (width <= 375px) {
    .header {
      min-block-size: 327px;
    }

    .header__title {
      font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    }

    .header__text {
      font-size: (0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    }

    .card__title {
      padding: 5px 10px;
    }

    .save__button {
      flex-direction: column;
      min-height: 84px;
      width: 306px;
    }

    .save__svg {
      width: 28px;
      height: 28px;
    }

    .save__dialog[open] {
      padding: 30px 40px;
    }
  }
